/////////////////////////////////////////////////////////////////////////////////////////////////
//                                                                                             //
//  This file will be the top-most entry point for all styles in the app.                      //
//  Any dependant styles should be explicitly imported here.                                   //
//                                                                                             //
//  Using `~` - https://goo.gl/sU3Cmv                                                          //
//  "The sass-loader uses node-sass' custom importer feature to pass all queries               //
//  to the webpack resolving engine. Thus you can import your Sass modules from node_modules.  //
//  Just prepend them with a ~ to tell webpack that this is not a relative import."            //
//  Think of `~` as a way of saying `node_modules`.                                            //
//                                                                                             //
//  Importing CSS files - include the extension:                                               //
//  @import '~my-library/styles.css'                                                           //
//  @import 'path/to/my/library/styles.css'                                                    //
//                                                                                             //
/////////////////////////////////////////////////////////////////////////////////////////////////


/*
  Sassyons
  --------

  PSA - Sassyons is a utility library that is NOT meant to be bundled as a whole into your project.
  There are an obnoxious amount of classes that give you, the developer, full control
  over styling your project. HOWEVER, the Webpack bundle included with this project
  uses `purgecss` to strip out unused styles, so you need not be concered!

  Read more - https://github.com/qodesmith/sassyons
*/
@import '~sassyons/scss/sassyons';

/*
  Application Styles
  ------------------

  All our application-specific styles will go below.
  @import each of them in reverse-priority order (bottom = highest priority).
*/
@import 'global';

@font-face {
  font-family: 'C059_Roman';
  src: url('../assets/fonts/C059-Roman.otf') format('otf');
//  font-weight: 600;
//  font-style: normal;
}
@font-face {
  font-family: 'StyleScript';
  src: url('../assets/fonts/StyleScript-Regular.ttf') format('ttf');
  font-weight: 400;
//  font-style: normal;
}

a {
  color: #79a9de;
  font-family: 'C059_Roman';
}
h1 {
  text-shadow: -1px 1px 0 #970, -3px 1px 0 #c90,  -2px 3px 0 #774d00;
}
h2 {
  color: #ffd700;
  font-family: 'Style Script';
}
.bg-bowloboard {
  color: #ffd700;
  background-color: #863f04;
}

// if    yesornoJson.ishe   contains   tolower("yes" or "yep")   then  use a random image from "yes" folder
// else use a random image from "no" folder
#app {
  background-image: url('../assets/images/yes/IMG_20170321_192410.jpg');
  background-position: center;
  background-size: contain; // or 'cover'
  background-repeat: no-repeat;
  
}
